//
// Border
// --------------------------------------------------


// Width
// -------------------------

.b {
  border-style: solid;
  border-color: $border-color;
  border-width: 0;
}
.bd {
  @extend .b;
  border-width: 1px;
}
.bdt {
  @extend .b;
  border-top-width: 1px;
}
.bdr {
  @extend .b;
  border-right-width: 1px;
}
.bdb {
  @extend .b;
  border-bottom-width: 1px;
}
.bdl {
  @extend .b;
  border-left-width: 1px;
}
.bdn {
  border: none;
}


// Radius
// -------------------------

.bdrsn {
  border-radius: none;
}
