//
// Box Sizing
// --------------------------------------------------


// Width
// -------------------------

.wxs {
  max-width: 100px;
}
.wsm {
  max-width: 200px;
}
.wmd {
  max-width: 300px;
}
.wlg {
  max-width: 400px;
}


// Radius
// -------------------------

.bdrsn {
  border-radius: 0;
}
