//
// Margin & Padding
// --------------------------------------------------


// Margin
// -------------------------

.mn {
  margin: 0;
}
.m {
  margin: $margin-base;
}
.mt {
  margin-top: $margin-vertical;
}
.mr {
  margin-right: $margin-horizontal;
}
.mb {
  margin-bottom: $margin-vertical;
}
.ml {
  margin-left: $margin-horizontal;
}


// Padding
// -------------------------

.pn {
  padding: 0;
}
.p {
  padding: $padding-base;
}
.pt {
  padding-top: $padding-vertical;
}
.pr {
  padding-right: $padding-horizontal;
}
.pb {
  padding-bottom: $padding-vertical;
}
.pl {
  padding-left: $padding-horizontal;
}
