//
// Variables
// --------------------------------------------------


//== Border

$border-color:          #ddd !default;


//== Margin

$margin-vertical:       10px !default;
$margin-horizontal:     15px !default;
$margin-base:           $margin-vertical $margin-horizontal !default;


//== Padding

$padding-vertical:      10px !default;
$padding-horizontal:    15px !default;
$padding-base:          $padding-vertical $padding-horizontal !default;
